/* Author: Urvi Patel, Student Number: 8969117 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
}

header, footer {
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    text-align: center;
}

h1, h2, h3 {
    margin: 0 0 10px;
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: white;
}
.content {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}

main {
    flex: 3;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
aside {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    background-size: cover;
    border-radius: 8px;
    background: url('Images/backhground.jpeg');
}

.mainimg {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    shape-outside: circle();
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

footer p {
    margin: 0;
    font-size: 14px;
    font-color: black;
}
.grid {
      display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }

   .grid img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border: 3px solid #fff;
            border-radius: 8px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            filter: grayscale(70%) sepia(20%) contrast(90%);
        }
        
.grid img:hover {
            opacity: 0.8; 
        }
aside ul li a {
    color: black;
    text-decoration: none;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    aside {
        margin-left: 0;
        margin-top: 20px;
    }

    .mainimg {
        float: none;
        display: block;
        margin: 0 auto 10px;
    }
}

